* {
    margin: 0px;
    padding: 0px;
}

div {
    background-color: green;
    height: 130px;
    width: 600px;

    border-top: 20px red solid;
    border-right: 10px blue dotted;
    border-bottom: 25px yellow groove;
    border-left: 15px grey solid;


    /*     border-width: 20px 10px 5px 10px;
    border-style: groove;
    border-color: blue; */

    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 50px;


    margin-top: 50px;
    margin-right: 70px;
    margin-bottom: 200px;
    margin-left: 100px;

    border-radius: 20px;

}